@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Outfit;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul { 
  list-style: none;
}
